<section class="cmn-section no-pd">
        <div class="container text-center">
          <h2 class="course-heading">Our Team</h2>
         

          <div id="btmcrousel" class="owl-carousel owl-theme student-carousel">
            <div class="item">
              <div class="st-info">
                <div class="st-dp">
                  <%= image_tag "gaurav.png" %>
                  <span><i class="fa fa-quote-left"></i></span>
                </div>
                <p class="text-para">He is  responsible for collecting, researching, investigating and evaluating user requirements. Their responsibility is to deliver an outstanding user experience providing an exceptional </p>
                <h2 class="st-name">Gaurav</h2>
                <span class="st-stream">UI/UX Designer</span>
              </div>
            </div>
            <div class="item">
              <div class="st-info">
                <div class="st-dp">
                  <%= image_tag "sam.png" %>
                  <span><i class="fa fa-quote-left"></i></span>
                </div>
                <p class="text-para">He is a very responsible,smart worker  and passionate about his work. Logic building is a special technique in which he has mastery.Have Knowledge of different Languages at the same time </p>
                <h2 class="st-name">Samar Bahadur Singh</h2>
                <span class="st-stream">Ruby Developer</span>
              </div>
            </div>
            <div class="item">
              <div class="st-info">
                <div class="st-dp">
                  <%= image_tag "priya.jpg" %>
                  <span><i class="fa fa-quote-left"></i></span>
                </div>
                <p class="text-para">She is a very responsible,smart worker  and passionate about her work. Logic building is a special technique in which she has mastery.Have Knowledge of different Languages at the same time </p>
                <h2 class="st-name">Priyanka Kumari</h2>
                <span class="st-stream">Ruby Developer</span>
              </div>
            </div>
            <div class="item">
              <div class="st-info">
                <div class="st-dp">
                  <%= image_tag "gaurav.png" %>
                  <span><i class="fa fa-quote-left"></i></span>
                </div>
                <p class="text-para">He is  responsible for collecting, researching, investigating and evaluating user requirements. Their responsibility is to deliver an outstanding user experience providing an exceptional </p>
                <h2 class="st-name">Gaurav</h2>
                <span class="st-stream">UI/UX Designer</span>
              </div>
            </div>
            <div class="item">
              <div class="st-info">
                <div class="st-dp">
                  <%= image_tag "sam.png" %>
                  <span><i class="fa fa-quote-left"></i></span>
                </div>
                <p class="text-para">He is a very responsible,smart worker  and passionate about his work. Logic building is a special technique in which he has mastery.Have Knowledge of different Languages at the same time </p>
                <h2 class="st-name">Samar Bahadur Singh</h2>
                <span class="st-stream">Ruby Developer</span>
              </div>
            </div>
          </div>
          
        </div>
      </section>
         <script type="text/javascript">
$(document).ready(function() {
        $(".owl-carousel").owlCarousel({
          loop: true,
          autoPlay: 2500,
          items: 3,

          itemsDesktop: [1199,3],
          itemsDesktopSmall: [979,3]
  });

  });
</script>