<section class="cmn-section no-pd">
        <div class="container text-center">
          <h2 class="course-heading">What Our Student Says</h2>
         

          <div id="btmcrousel" class="owl-carousel owl-theme student-carousel">
            <div class="item">
              <div class="st-info">
                <div class="st-dp">
                  <%= image_tag "person_1.jpg" %>
                  <span><i class="fa fa-quote-left"></i></span>
                </div>
                <p class="text-para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <h2 class="st-name">Dennis Green</h2>
                <span class="st-stream">Math Student</span>
              </div>
            </div>
            <div class="item">
              <div class="st-info">
                <div class="st-dp">
                  <%= image_tag "person_2.jpg" %>
                  <span><i class="fa fa-quote-left"></i></span>
                </div>
                <p class="text-para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <h2 class="st-name">Dennis Green</h2>
                <span class="st-stream">Math Student</span>
              </div>
            </div>
            <div class="item">
              <div class="st-info">
                <div class="st-dp">
                  <%= image_tag "person_3.jpg" %>
                  <span><i class="fa fa-quote-left"></i></span>
                </div>
                <p class="text-para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <h2 class="st-name">Dennis Green</h2>
                <span class="st-stream">Math Student</span>
              </div>
            </div>
            <div class="item">
              <div class="st-info">
                <div class="st-dp">
                  <%= image_tag "person_4.jpg" %>
                  <span><i class="fa fa-quote-left"></i></span>
                </div>
                <p class="text-para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <h2 class="st-name">Dennis Green</h2>
                <span class="st-stream">Math Student</span>
              </div>
            </div>
            <div class="item">
              <div class="st-info">
                <div class="st-dp">
                  <%= image_tag "person_5.jpg" %>
                  <span><i class="fa fa-quote-left"></i></span>
                </div>
                <p class="text-para">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <h2 class="st-name">Dennis Green</h2>
                <span class="st-stream">Math Student</span>
              </div>
            </div>
          </div>
          
        </div>
      </section>
         <script type="text/javascript">
$(document).ready(function() {
        $(".owl-carousel").owlCarousel({
          loop: true,
          autoPlay: 2500,
          items: 3,

          itemsDesktop: [1199,3],
          itemsDesktopSmall: [979,3]
  });

  });
</script>