
    <div class="banner">
      <div class="overlay"></div>
      <div class="container">
          <div class="banner-text text-center">
            <ol class="breadcrumb">
              <li><%= link_to 'HOME', root_path %></li>
              <li class="active"><span>EVENTS</span></li>
            </ol>
            <h1 class="banner-head">Events</h1>
          </div>
        </div>
      </div>
      <!-- events started -->
      <section class="cmn-section">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="shadow">
                <div class="course-img">
                   <%= image_tag("event-1.jpg", class: "img-responsive", alt: "course") %>
                </div>
                <div class="course-text">
                  <div class="blog-stat">
                    <a href="#">Sep 10, 2018</a>
                    <a href="#">Admin</a>
                    <a href="#"><i class="fa fa-commenting"></i>3</a>
                  </div>
                  <h3 class="text-head">Intern Bootcamp Meetup 2018</h3>
                  <div class="event-time">
                    <span><i class="fa fa-clock-o"></i>10:30AM-03:30PM</span>
                    <span><i class="fa fa-map-o"></i>Venue Main Campus</span>
                  </div>
                  <p class="text-para">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                  <a href="#myModalHorizontal" title="enroll" class="join-event" data-toggle="modal" data-target="#myModalHorizontal">Join Event<i class="fa fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="shadow flex-events">
                <div class="course-img">
                   <%= image_tag("event-4.jpg", class: "img-responsive", alt: "course") %>
                </div>
                <div class="course-text">
                  <div class="blog-stat">
                    <a href="#">Sep 10, 2018</a>
                    <a href="#">Admin</a>
                    <a href="#"><i class="fa fa-commenting"></i>3</a>
                  </div>
                  <h3 class="text-head">Intern Bootcamp Meetup 2018</h3>
                  <div class="event-time">
                    <span><i class="fa fa-clock-o"></i>10:30AM-03:30PM</span>
                    <span><i class="fa fa-map-o"></i>Venue Main Campus</span>
                  </div>
                  <p class="text-para">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                  <a href="#myModalHorizontal" title="enroll" class="join-event" data-toggle="modal" data-target="#myModalHorizontal">Join Event<i class="fa fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="shadow">
                <div class="course-img">
                   <%= image_tag("event-3.jpg", class: "img-responsive", alt: "course") %>
                </div>
                <div class="course-text">
                  <div class="blog-stat">
                    <a href="#">Sep 10, 2018</a>
                    <a href="#">Admin</a>
                    <a href="#"><i class="fa fa-commenting"></i>3</a>
                  </div>
                  <h3 class="text-head">Intern Bootcamp Meetup 2018</h3>
                  <div class="event-time">
                    <span><i class="fa fa-clock-o"></i>10:30AM-03:30PM</span>
                    <span><i class="fa fa-map-o"></i>Venue Main Campus</span>
                  </div>
                  <p class="text-para">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                  <a href="#myModalHorizontal" title="enroll" class="join-event" data-toggle="modal" data-target="#myModalHorizontal">Join Event<i class="fa fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- join event modal starts here -->
      <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Sign up to join
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form class="form-horizontal" role="form" action="/eventjoin"
                method="post">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>" />
                
                 <%#= form_tag url: eventjoin_path ,class: "form-horizontal", do %>
                  <div class="form-group">
                    <label  class="col-sm-2 control-label" for="Email">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="Email" placeholder="Email" name='event[email]' />
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-2 control-label" for="Name">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Name" placeholder="Name" name='event[name]' />
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label  class="col-sm-2 control-label" for="Contact">Contact</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" id="Contact" placeholder="Contact" name='event[contact]' />
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="col-sm-2 control-label" for="Course">Course</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="Course" name='event[course]'>
                          <option value="B.Tech">B.Tech</option>
                          <option value="MCA">MCA</option>
                          <option value="MBA">MBA</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-10">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                <%# end %>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>

