<div class="container">
	<div class="profile-wrap-main">
	<div class="profile-wrap">
		<% if current_user.profile.present? && current_user.profile.image.present? %>
 		<%= image_tag current_user.profile.image.url(:medium) %>
 		<% else %>
  		<%= image_tag("avatar.png", class: "img-responsive img", alt: "avtar") %>
  		 <% end %>
	</div>
	<div class="info-wrap">
			<h2 class="user-profile-name"><%= current_user.username %></h2>
			<div class="email-txt"><%= current_user.email %></div>
	</div>
</div>
</div>

<!-- Post -->
<div class="container">
	<div class="cabinet-wrapper">
		<div class="my-cabinet">
			<div>
				<i class="fa fa-database"></i>
			</div>	
			<div>
				<%= link_to "My Cabinet", docs_path, class: "btn cabinet-btn" %>
			</div>
		</div>
		<div class="my-cabinet">
			<div>
				<i class="fa fa-picture-o"></i>
			</div>	
			<div>
				<%= link_to "Update Profile Pic ", addProfile_path, class: "btn cabinet-btn" %>
			</div>
		</div>
		<div class="my-cabinet">
			<div>
				<i class="fa fa-group"></i>
			</div>	
			<div>
				<%= link_to "Group chat", pages_path, class: "btn cabinet-btn" %>
			</div>
		</div>
	   <div class="my-cabinet">
			<div>
				<i class="fa fa-group"></i>
			</div>	
			<div>
				<%= link_to "Personal chat", pmessage_path, class: "btn cabinet-btn" %>
			</div>
		</div>
	   

	</div>
</div>

